.table thead {
    background-color: #add8e6; /* Azul claro */
    color: black;
}

.table-container {
    margin-top: 20px; /* Margen para separar la tabla de otros elementos */
    margin-bottom: 2px; /* Margen para separar la tabla del footer */
    max-width: 800px; /* Limitar el ancho de la tabla */
    margin-left: auto;
    margin-right: auto;
}

.table-title {
    text-align: center;
    margin-top: 20px;
    color: white;
}